<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/base.css') }}"
        />
        {% if title %}
        <title>SQL Data Finder - {{ title }}</title>
        {% else %}
        <title>SQL Data Finder</title>
        {% endif %}
    </head>
    <body>
        <header>
            <nav>
                <h1>SQL Data Finder</h1>
                <ul>
                    <li
                        class="bubble active-{{ '1' if active == 'home' else '' }}"
                    >
                        <a href="{{ url_for("main.home") }}">Home</a>
                    </li>
                    <li
                        class="bubble active-{{ '2' if active == 'about' else '' }}"
                    >
                        <a href="{{ url_for("main.about") }}">About</a>
                    </li>
                    <li
                        class="bubble active-{{ '3' if active == 'search' else '' }}"
                    >
                        <a href="{{ url_for("search.column_search") }}">Search</a>
                    </li>
                    <li
                        class="bubble active-{{ '1' if active == 'db_structure' else '' }}"
                    >
                        <a href="{{ url_for("db_structure.db_structure_tree") }}">DB Structure</a>
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
